body {
  margin: 0 auto;
  max-width: 80vw;
  padding: 5vh 0;
  position: relative;
  width: 100%;
  color: dimgray;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

.box {
  border: 1px solid dimgray;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
}

.box {
  overflow-x: auto;
}

.highlight {
  color: whitesmoke;
  background-color: navy;
  border: none;
}

.space-between {
  display: flex;
  justify-content: space-around;
}

button{
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid darkblue;
  background-color: indigo;
  color: whitesmoke;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-align:center;
  transition: all 0.2s;
}

button:hover{
  background-color:darkblue;
}