<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>#eroy-the-bot</title>
    <meta name="description" content="Chatbot for L1S2A web dev TP" />
    <meta name="author" content="a-haas" />

    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>

  <body class="font-sans antialiased w-screen h-screen">
    <div id="app" class="h-screen flex">
      <!-- Sidebar / channel list -->
      <div class="bg-indigo-900 text-purple-200 flex-none w-64 pb-6 block px-4" v-if="helpIsOpen">
        <div class="text-white mb-2 mt-3 flex justify-between">
          <div class="flex-auto">
            <h1 class="font-semibold text-xl leading-tight mb-1 truncate">
              PW1 Chatbot
            </h1>
            <div class="mb-6">
              <span class="text-white opacity-50 text-sm">Helper section</span>
            </div>
          </div>
          <div>
            <i class="ri-chat-heart-fill"></i>
          </div>
        </div>
        <div class="mb-8">
          <div class="text-white opacity-75">
            <div class="text-l mb-1">/clear</div>
            <div class="text-sm">Clear the chat messages</div>
          </div>
        </div>
        <div class="mb-8">
          <div class="text-white opacity-75">
            <div class="text-l mb-1">
              /lorem-ipsum
              <em>&lt;n&gt;</em>
            </div>
            <div class="text-sm">Generate a lorem ipsum paragraph</div>
            <div class="px-2 text-sm">
              n
              <em>(optionnal, default = 1)</em>
              <br />
              the number of paragraph to generate
            </div>
          </div>
        </div>
      </div>
      <!-- Chat content -->
      <div class="flex-1 flex flex-col bg-white md:whitespace-normal" v-bind:class="{ truncate: helpIsOpen }" >
        <!-- Top bar -->
        <div class="border-b flex px-6 py-2 items-center flex-none whitespace-nowrap">
          <div class="flex flex-col">
            <h3 class="text-indigo-900 mb-1 font-extrabold">#eroy-the-bot</h3>
            <div class="text-indigo-800 text-sm">
              the bot you need to automate your useless tasks
            </div>
          </div>
          <div class="ml-auto hidden md:block">
            <div class="relative text-gray-400 focus-within:text-gray-600">
              <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                <div class="p-1 focus:outline-none focus:shadow-outline">
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    class="w-6 h-6"
                  >
                    <path
                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                    ></path>
                  </svg>
                </div>
              </span>
              <input
                type="search"
                name="q"
                class="py-2 text-sm text-gray-400 rounded-md pl-10 focus:outline-none focus:text-gray-600"
                placeholder="Search..."
                autocomplete="off"
                v-model="search"
              />
            </div>
          </div>
        </div>
        <!-- Chat messages -->
        <div class="px-6 py-4 flex-1 overflow-y-auto">
          <!-- A message -->
          <div
            v-for="message in messages"
            class="flex justify-end mb-4 text-sm"
          >
            <div v-if="message.userOriginated" class="flex-none w-3/12 md:5/12"></div>
            <div class="flex-1" :class="message.userOriginated ? 'text-right text-gray-600' : 'text-gray-900'">
              <div>
                <span class="font-bold">{{ message.author }}</span>
                <span class="ml-4 text-gray-400 text-xs">
                  {{ message.date }}
                </span>
              </div>
              <p class="leading-normal">{{ message.text }}</p>
            </div>
            <div v-if="!message.userOriginated" class="flex-none w-3/12 md:5/12"></div>
          </div>
        </div>
        <div class="pb-6 px-4 flex-none truncate">
          <div
            class="flex rounded-lg border-2 border-gray-400 text-gray-400 group focus-within:text-indigo-900 focus-within:border-indigo-900"
          >
            <button
              role="button"
              class="flex justify-center items-center text-xl border-r border-gray-200 p-2 hover:text-indigo-700"
              v-on:click="toggleHelp"
            >
              <i class="ri-question-line"></i>
            </button>
            <input
              type="text"
              class="w-full rounded-md pl-4 focus:outline-none border-gray-400 focus:border-indigo-900 text-gray-900"
              placeholder="To open help, please hit the ? button on the left"
              v-model="chatMessage"
              v-on:keyup.enter="handleMessage"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="app.js"></script>
</html>
